html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   padding: 0;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 1.15;
}

.container {
   width: 1024px;
   padding: 0 12px;
   margin: 0 auto;
}

.title {
   margin: 20px auto;
   text-align: center;
   font-size: 30px;
   line-height: 34px;
   color: #c37f7f;
}

.textarea {
   display: block;
   width: 995px;
   height: 200px;
   margin: 20px auto;
   padding: 10px;
   font-size: 12px;
   color: #242424;
}

.keyboard {
   width: 995px;
   padding: 5px;
   padding-left: 0;
   padding-bottom: 0;
   background: #68ef71;
   border: 3px solid #1c1e22;
   border-radius: 5px;
}

.keyboard__row {
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   width: 100%;
   height: 55px;
   margin-bottom: 10px;
}

.keyboard__key {
   width: 55px;
   height: 55px;
   margin-left: 10px;
   line-height: 55px;
   text-align: center;
   color: #ffffff;
   background: #4c4085;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
   box-shadow: 3px 3px 3px #242424;
}

.keyboard__key:active {
   box-shadow: none;
   background: #8d79f3;
}

.lower {
}
.up {
}
.shift {
}
.caps {
}
.en {
}
.rus {
}

.hidden {
   display: none;
}

.active {
   box-shadow: none;
   background: #8d79f3;
}
.tilda {
   margin-left: 5px;
}

.backspase {
   width: 130px;
   background: #251b55;
}
.tab {
   width: 65px;
   margin-left: 5px;
   background: #251b55;
}
.del {
   background: #251b55;
}
.capsLock {
   width: 100px;
   margin-left: 5px;
   background: #251b55;
}
.enter {
   width: 150px;
   background: #251b55;
}
.shift-left {
   width: 130px;
   margin-left: 5px;
   background: #251b55;
}
.shift-right {
   width: 120px;
   background: #251b55;
}
.ctrl-left {
   margin-left: 5px;
   background: #251b55;
}
.ctrl-right {
   background: #251b55;
}
.alt-left {
   background: #251b55;
}
.alt-right {
   background: #251b55;
}
.win {
   background: #251b55;
}
.space {
   width: 455px;
   background: #4c4085;
}

.arrow-up {
   background: #251b55;
}
.arrow-left {
   background: #251b55;
}
.arrow-down {
   background: #251b55;
}
.arrow-right {
   background: #251b55;
}

.digit1 {
}
.digit2 {
}
.digit3 {
}
.digit4 {
}
.digit5 {
}
.digit6 {
}
.digit7 {
}
.digit8 {
}
.digit9 {
}
.digit0 {
}
.minus {
}
.equal {
}

.q {
}
.w {
}
.e {
}
.r {
}
.t {
}
.y {
}
.u {
}
.i {
}
.o {
}
.p {
}
.brackets-open {
}
.brasckets-close {
}
.backslash {
}

.a {
}
.s {
}
.d {
}
.f {
}
.g {
}
.h {
}
.j {
}
.k {
}
.l {
}
.semicolon {
}
.kav {
}

.z {
}
.x {
}
.c {
}
.v {
}
.b {
}
.n {
}
.m {
}
.coma {
}
.dot {
}
.slash {
}


.os,
.lang {
   text-align: center;
   font-size: 24px;
   line-height: 1.1;
   color:#c37f7f;
}